.ProfilesMet {
  margin: 40px 20px 20px 20px;
  padding-bottom: 40px;

  h2 {
    font-size: 19px;
    font-weight: 500;
    color: var(--typography-light-gray);
    padding: 0;
    margin: 0 0 13px;
  }

  .List {
    margin-top: 16px;
  }
}