.SubscriptionNotification {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: var(--subscription-notification-background);
  padding: 15px;
  align-items: center;

  .Icon {
    width: 46px;
    height: 46px;
    margin-right: 12px;
  }

  .Text {
    font-size: 16px;
    line-height: 1.25;
    color: var(--typography-light-gray);
    word-break: break-word;
  }
}

.Rounded {
  border-radius: 4px;
}

.rtl {
  .Icon {
    margin-right: unset;
    margin-left: 12px;
  }
}