.GreenScreen {
  padding: 64px;
  width: fit-content;

  // gradient for better visibility
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}