.BlogNewHeader {
  width: 100%;
  position: relative;
  padding: 20px 20px;

  .Title {
    width: 100%;

    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: var(--typography-light-gray);
    min-height: 26.5px;
  }

  .Close {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0%, -50%);
  }
}

.rtl {
  .Close {
    left: unset;
    right: 20px;
  }
}