.ForumAd {
	// background: var(--profile-ad-background);
	border-radius: 3px;
	width: 100%;
	position: relative;

	&:not(:last-child) {
		margin-bottom: 20px;
	}

	.BlogAdClickableArea {
		text-decoration: none;
		cursor: pointer;
    padding-bottom: 15px;

		display: flex;
		flex-direction: row;

		.Image {
			width: 70px;
			height: 70px;
			position: relative;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 3px;
			}

			.Dialog {
				width: 35px;
				height: 35px;
				position: absolute;
				left: 8px;
				bottom: 8px;
			}
		}

		.Info {
			display: flex;
			flex-direction: column;
			width: calc(100% - 105px);
			margin-left: 16px;
			padding-right: 7px;

			.Status {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;

				.Location {
					display: flex;
					flex-direction: row;
					align-items: center;

					.Icon {
						width: 15px;
						height: 15px;

						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: center;
					}

					.Text {
						display: flex;
						flex-direction: row;
						align-items: center;

						span {
							font-size: 11px;
							font-family: var(--font-assistant);
							color: var(--typography-dark-gray);
						}
					}
				}

				.Network {
					display: block;
				}
			}

			.ProfileInfo {
				display: flex;
				flex-direction: column;

				.Basic {
					display: flex;
					flex-direction: row;
					align-items: center;

					width: 100%;
					flex-wrap: wrap;

					font-size: 13px;
					line-height: 1.46;
					font-weight: 700;
					color: var(--typography-light-gray);

					.ProfileType {
						margin-right: 4px;
					}
				}
			}
			.Age {
				display: flex;
				flex-direction: row;

				font-size: 13px;
				line-height: 1.46;
				font-weight: 700;
				color: var(--typography-light-gray);
        margin-top: 2px;
				.ManAge,
				.WomanAge {
					margin-right: 4px;
					display: flex;
					flex-direction: row;
					align-items: center;

					.Icon {
						width: 15px;
						height: 15px;

						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: center;
					}
				}
			}
			.Verified {
				width: 18px;
				height: 18px;
				margin: 0 5px;
			}
			.TitleBlogContainer {
				font-size: 15px;
				color: var(--typography-light-gray);
				margin-top: 7px;
        font-weight: 700;
				word-break: break-word;
				width: calc(90% - 10px);
			}
			.DateCreatedContainer {
				font-size: 12px;
				color: var(--typography-light-black);
				word-break: break-word;
        margin-bottom: 10px;
			}
			.Description {
				font-size: 15px;
				color: var(--typography-dark-gray);
				margin-top: 7px;
				margin-bottom: 7px;
				word-break: break-word;
				width: calc(90% - 10px);
			}
      
      .InfoCount {
        display: flex;
        flex-direction: row;
        div {
          display: flex;
          flex-direction: row;
          align-content: center;
          div {
            margin-top: 3px;
          }
          span {
            font-size: 12px;
            font-weight: 500;
            color: var(--typography-purple);
            margin: 0 5px;
          }
        }
      }
		}
	}
	.DeleteImage {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 10px;
	}
}

.rtl {
	.DeleteImage {
		position: absolute;
		bottom: 0;
		right: auto;
		left: 0;
		padding: 10px;
	}
	.BlogAdClickableArea {
		.Image {
			img {
				border-radius: 3px;
			}

			.Dialog {
				left: unset;
				right: 8px;
			}
		}

		.Info {
			margin-left: unset;
			margin-right: 16px;
			padding-right: unset;
			padding-left: 7px;

			.ProfileInfo {
				.Basic {
					.ProfileInfo {
						margin-right: unset;
						margin-left: 4px;
					}

					.ManAge,
					.WomanAge {
						margin-right: unset;
						margin-left: 4px;
					}
				}
			}
		}
	}
}

.RequestImages {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 10px 15px;
	background: var(--profile-ad-background);
	border-radius: 3px;
	margin-bottom: 20px;
	margin-top: -10px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-image-source: linear-gradient(
		to right,
		#f9a1af 13%,
		#b15ed4 42%,
		#460fe1 77%
	);
	border-image-slice: 1;
	p {
		margin: 0;
	}
	.ButtonsApproved {
		button {
			height: 55px;
		}
	}
	.Buttons {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 50%;
		button {
			display: flex;
			flex-direction: column;
		}
		.CancelButton {
			width: 43%;
			.WhiteButtonText {
				font-size: 14px;
				color: var(--typography-light-gray);
				font-family: var(--font-heebo);
			}
		}
		.AcceptButton {
			width: 52%;
			.SubmitButtonText {
				color: var(--banner-button-text);
				font-size: 14px;
				font-weight: 500;
				font-family: var(--font-heebo);
			}
			.SubmitGrayButtonText {
				color: var(--typography-black);
				font-size: 14px;
				font-weight: 500;
				font-family: var(--font-heebo);
			}
		}
	}
	.Description {
		width: 48%;
		p {
			font-size: 14px;
			color: var(--typography-dark-gray);
			font-family: var(--font-heebo);
			font-weight: 500;
		}
	}
}

.ProfileModal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--body-background);
	z-index: 10000;
	overflow-y: scroll;
}
