.CloseIcon {
  position: relative;
  transform: rotate(45deg);
}

.Line {
  width: 20px;
  height: 2px;
  background: var(--close-icon-color-dark);
  border-radius: 5px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Rotate {
  transform: translate(-50%, -50%) rotate(90deg);
}

.Style {
  &-light {
    background: var(--close-icon-color-light);
  }

  &-dark {
    background: var(--close-icon-color-dark);
  }
}

.Size {
  &-small {
    width: 10px;
    height: 1px;
  }
}