.DiscoRabbitIcon {
  display: inline-block;

  width: 155px;//195px;
  height: 155px;//195px;

  background-image: url('assets/discoRabbit.svg');
  //background-size: 195px;
  background-repeat: no-repeat;
}