.EyeIcon {
  display: inline-block;
  width: 25px;
  height: 16px;
  //background: url('assets/eye.svg') no-repeat;

  -webkit-mask-image: url(assets/eye.svg);
  mask-image: url(assets/eye.svg);
  background-color: var(--default-icon-color);

  &:hover {
    background-color: var(--hover-icon-color);
  }
}