.StyledIconRabbitEar1 {
  display: inline-block;

  width: 70px;
  height: 95px;

  background-image: url('assets/styledRabbit1.svg');
  background-size: 70px 95px;
  background-repeat: no-repeat;

  //-webkit-mask-image: url(assets/styledRabbit1.svg);
  //mask-image: url(assets/styledRabbit1.svg);
  //mask-size: cover;
  ////background-color: var(--default-icon-color);
  //background: url(assets/styledRabbit1.svg);
  //background-size: 70px 95px;
}