.TwoRabbitsIcon {
  display: inline-block;

  width: 303px;
  height: 237px;

  background-image: url('assets/tworabbits.svg');
  background-size: 303px;
  background-repeat: no-repeat;
  //background-size: 303px 269px;
}