.RequestPhotos {
  padding: 0 20px;
  margin: 10px 0;

  .ButtonText {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: var(--typography-purple);
    margin: 3px 20px;
  }
}