.Footer {
  padding: 0 20px;
  padding-bottom: 68px;
  .Menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    div {
      display: flex;
      justify-content: center;
      cursor: pointer;
      a {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.17;
        color: var(--typography-purple);
        text-align: center;
        text-decoration: none;
        margin: 0;
      }
    }
    div:nth-child(2) {
      border-left: 1px solid;
      border-right: 1px solid;
      border-color: var(--typography-purple);
      padding: 0 6px;
      margin: 0 6px;
    }
  }
}