.RecommendationSwitch {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;

  label {
    position: absolute;
    inset: 0;
    cursor: pointer;
  }

  .Switch {
    width: 100%;

    display: flex;
    flex-direction: row;
    //justify-content: space-between;
    align-items: center;

    .Input {
      //width: 15%;
      margin-right: 8px;
    }

    .Text {
      //width: 50%;

      p.Title {
        font-size: 14px;
        margin: 0;
        color: var(--typography-dark-gray);
      }
    }
  }

  input[type="checkbox"] {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    appearance: none;
    outline: none;

    width: 59px;
    height: 30px;

    background: rgba(#fff, 0.1);
    border-radius: 15.5px;

    transition: 0.2s;

    &:checked {
      background: var(--switch-input-background);
      --x: calc(31px - 4px);

      &:after {
        background: var(--switch-input-toggle-background);
      }
    }

    &:after {
      content: "";
      display: block;

      position: absolute;
      top: 3px;
      left: 4px;
      transform: translateX(var(--x, 0));

      width: 24px;
      height: 24px;

      opacity: 1;
      transition: 0.2s;

      background: rgba(#fff, 0.5);
      border-radius: 50%;
    }
  }
}

.rtl {
  .Switch {
    .Input {
      margin-right: unset;
      margin-left: 8px;
    }
  }
}